@charset "UTF-8";
* {
  font-family: "Quattrocento Sans", sans-serif;
  color: #3c3c3c;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to bottom, #fafafa, #ededed) #fafafa;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: #333333;
  align-items: center;
  z-index: 10;
}
.header * {
  margin: 0;
  padding: 0;
}
.header .title {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  color: #fafafa;
  margin-left: 20px;
}
@media screen and (max-width: 992px) {
  .header .title {
    margin: auto;
  }
}
.header .anchors {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 992px) {
  .header .anchors {
    display: none;
  }
}
.header .anchors .anchor a {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  margin-right: 20px;
  color: #fafafa;
  font-size: 14px;
}
.header .anchors .anchor a:hover {
  color: #c7c7c7;
  font-weight: 800;
}

.container {
  max-width: 992px;
  margin: 0 auto;
  padding: 40px 0;
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 92%;
  }
}

.main {
  padding: 60px 0;
  font-size: 18px;
}
.main .block1 .title, .main .block2 .title, .main .block3 .title, .main .block4 .title, .main .block5 .title, .main .block6 .title {
  text-align: center;
  font-size: 62px;
  font-weight: 300;
  color: #FFFFFF;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px black;
}
@media screen and (max-width: 992px) {
  .main .block1 .title, .main .block2 .title, .main .block3 .title, .main .block4 .title, .main .block5 .title, .main .block6 .title {
    font-size: 44px;
  }
}
.main .block1 .title span, .main .block2 .title span, .main .block3 .title span, .main .block4 .title span, .main .block5 .title span, .main .block6 .title span {
  font-size: 32px;
  color: #fafafa;
}
@media screen and (max-width: 992px) {
  .main .block1 .title span, .main .block2 .title span, .main .block3 .title span, .main .block4 .title span, .main .block5 .title span, .main .block6 .title span {
    font-size: 22px;
  }
}
.main .block1 .txt.bold, .main .block2 .txt.bold, .main .block3 .txt.bold, .main .block4 .txt.bold, .main .block5 .txt.bold, .main .block6 .txt.bold {
  font-weight: 800;
}
.main .block1 .txt a, .main .block2 .txt a, .main .block3 .txt a, .main .block4 .txt a, .main .block5 .txt a, .main .block6 .txt a {
  font-weight: 800;
  font-style: italic;
  color: #333333;
}
.main .block1 .txt.fonte, .main .block2 .txt.fonte, .main .block3 .txt.fonte, .main .block4 .txt.fonte, .main .block5 .txt.fonte, .main .block6 .txt.fonte {
  text-align: left;
  font-size: 14px;
  font-weight: 800;
  margin-top: 4px;
  margin-bottom: 32px;
}
.main .block1 .txt.fonte span, .main .block2 .txt.fonte span, .main .block3 .txt.fonte span, .main .block4 .txt.fonte span, .main .block5 .txt.fonte span, .main .block6 .txt.fonte span {
  font-weight: 400;
}
.main .block1 .txt.answer, .main .block2 .txt.answer, .main .block3 .txt.answer, .main .block4 .txt.answer, .main .block5 .txt.answer, .main .block6 .txt.answer {
  font-weight: 300;
}
.main .block1 .carrossel, .main .block2 .carrossel, .main .block3 .carrossel, .main .block4 .carrossel, .main .block5 .carrossel, .main .block6 .carrossel {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main .block1 .carrossel .slick-prev.slick-arrow, .main .block2 .carrossel .slick-prev.slick-arrow, .main .block3 .carrossel .slick-prev.slick-arrow, .main .block4 .carrossel .slick-prev.slick-arrow, .main .block5 .carrossel .slick-prev.slick-arrow, .main .block6 .carrossel .slick-prev.slick-arrow {
  border: 0;
  visibility: hidden;
}
.main .block1 .carrossel .slick-prev.slick-arrow:before, .main .block2 .carrossel .slick-prev.slick-arrow:before, .main .block3 .carrossel .slick-prev.slick-arrow:before, .main .block4 .carrossel .slick-prev.slick-arrow:before, .main .block5 .carrossel .slick-prev.slick-arrow:before, .main .block6 .carrossel .slick-prev.slick-arrow:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' viewBox='0 0 492 492' style='enable-background:new 0 0 492 492;' width='16px' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M198.608,246.104L382.664,62.04c5.068-5.056,7.856-11.816,7.856-19.024c0-7.212-2.788-13.968-7.856-19.032l-16.128-16.12 C361.476,2.792,354.712,0,347.504,0s-13.964,2.792-19.028,7.864L109.328,227.008c-5.084,5.08-7.868,11.868-7.848,19.084 c-0.02,7.248,2.76,14.028,7.848,19.112l218.944,218.932c5.064,5.072,11.82,7.864,19.032,7.864c7.208,0,13.964-2.792,19.032-7.864 l16.124-16.12c10.492-10.492,10.492-27.572,0-38.06L198.608,246.104z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
  position: absolute;
  font-size: 16px;
  background-color: #ffffff;
  filter: drop-shadow(2px 4px 6px black);
  padding: 9px 11px 7px 9px;
  border-radius: 50%;
  visibility: visible;
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  .main .block1 .carrossel .slick-prev.slick-arrow:before, .main .block2 .carrossel .slick-prev.slick-arrow:before, .main .block3 .carrossel .slick-prev.slick-arrow:before, .main .block4 .carrossel .slick-prev.slick-arrow:before, .main .block5 .carrossel .slick-prev.slick-arrow:before, .main .block6 .carrossel .slick-prev.slick-arrow:before {
    left: 16px;
  }
}
.main .block1 .carrossel .slick-next.slick-arrow, .main .block2 .carrossel .slick-next.slick-arrow, .main .block3 .carrossel .slick-next.slick-arrow, .main .block4 .carrossel .slick-next.slick-arrow, .main .block5 .carrossel .slick-next.slick-arrow, .main .block6 .carrossel .slick-next.slick-arrow {
  border: 0;
  visibility: hidden;
}
.main .block1 .carrossel .slick-next.slick-arrow:after, .main .block2 .carrossel .slick-next.slick-arrow:after, .main .block3 .carrossel .slick-next.slick-arrow:after, .main .block4 .carrossel .slick-next.slick-arrow:after, .main .block5 .carrossel .slick-next.slick-arrow:after, .main .block6 .carrossel .slick-next.slick-arrow:after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='16px' viewBox='0 0 451.846 451.847' style='enable-background:new 0 0 451.846 451.847;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M345.441,248.292L151.154,442.573c-12.359,-5.635-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744 L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284 c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
  position: absolute;
  font-size: 16px;
  background-color: #ffffff;
  filter: drop-shadow(2px 4px 6px black);
  padding: 9px 9px 7px 11px;
  border-radius: 50%;
  visibility: visible;
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  .main .block1 .carrossel .slick-next.slick-arrow:after, .main .block2 .carrossel .slick-next.slick-arrow:after, .main .block3 .carrossel .slick-next.slick-arrow:after, .main .block4 .carrossel .slick-next.slick-arrow:after, .main .block5 .carrossel .slick-next.slick-arrow:after, .main .block6 .carrossel .slick-next.slick-arrow:after {
    right: 0px;
  }
}
.main .block1 .carrossel img, .main .block2 .carrossel img, .main .block3 .carrossel img, .main .block4 .carrossel img, .main .block5 .carrossel img, .main .block6 .carrossel img {
  max-width: 100%;
}
.main .block1 .imagesInline, .main .block2 .imagesInline, .main .block3 .imagesInline, .main .block4 .imagesInline, .main .block5 .imagesInline, .main .block6 .imagesInline {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
@media screen and (max-width: 992px) {
  .main .block1 .imagesInline, .main .block2 .imagesInline, .main .block3 .imagesInline, .main .block4 .imagesInline, .main .block5 .imagesInline, .main .block6 .imagesInline {
    flex-direction: column;
  }
}
.main .block1 .imagesInline img, .main .block2 .imagesInline img, .main .block3 .imagesInline img, .main .block4 .imagesInline img, .main .block5 .imagesInline img, .main .block6 .imagesInline img {
  max-width: 50%;
}
@media screen and (max-width: 992px) {
  .main .block1 .imagesInline img, .main .block2 .imagesInline img, .main .block3 .imagesInline img, .main .block4 .imagesInline img, .main .block5 .imagesInline img, .main .block6 .imagesInline img {
    max-width: 100%;
  }
}
.main .block1 .imagesInline img.left:after, .main .block2 .imagesInline img.left:after, .main .block3 .imagesInline img.left:after, .main .block4 .imagesInline img.left:after, .main .block5 .imagesInline img.left:after, .main .block6 .imagesInline img.left:after {
  content: "Antes";
  font-size: 16px;
  font-weight: 800;
  color: #ffffff;
}
.main .block1 .imagesInline img.right:after, .main .block2 .imagesInline img.right:after, .main .block3 .imagesInline img.right:after, .main .block4 .imagesInline img.right:after, .main .block5 .imagesInline img.right:after, .main .block6 .imagesInline img.right:after {
  content: "Depois";
  font-size: 16px;
  font-weight: 800;
  color: #ffffff;
}
.main .block1 .quote, .main .block2 .quote, .main .block3 .quote, .main .block4 .quote, .main .block5 .quote, .main .block6 .quote {
  font-size: 24px;
  font-weight: 800;
  font-style: italic;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 32px;
}
.main .block1 .quote:before, .main .block2 .quote:before, .main .block3 .quote:before, .main .block4 .quote:before, .main .block5 .quote:before, .main .block6 .quote:before {
  font-size: 72px;
  content: "“";
  margin-top: 20px;
  position: relative;
  top: 15px;
  left: -10px;
  font-family: emoji;
}
.main .block1 .quote .name, .main .block2 .quote .name, .main .block3 .quote .name, .main .block4 .quote .name, .main .block5 .quote .name, .main .block6 .quote .name {
  font-size: 14px;
  font-weight: 600;
}
.main .block1 .person, .main .block2 .person, .main .block3 .person, .main .block4 .person, .main .block5 .person, .main .block6 .person {
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 300px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.6));
}
.main .block1 .person img, .main .block2 .person img, .main .block3 .person img, .main .block4 .person img, .main .block5 .person img, .main .block6 .person img {
  max-width: 100%;
}
.main .block1 .image, .main .block2 .image, .main .block3 .image, .main .block4 .image, .main .block5 .image, .main .block6 .image {
  width: 100%;
  height: 500px;
  background-size: cover !important;
  background-position-x: center !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .main .block1 .image, .main .block2 .image, .main .block3 .image, .main .block4 .image, .main .block5 .image, .main .block6 .image {
    height: 400px;
  }
}
.main .block1 .image {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.85)), url(/image1.jpg);
}
.main .block2 .image {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.85)), url(/image2.jpg);
}
.main .block3 .image {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.85)), url(/image3.jpg);
}
.main .block4 .image {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.85)), url(/image4.jpg);
  background-position: center !important;
}
.main .block5 .image {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.85)), url(/image5.jpg);
  background-position: center !important;
}
.main .block6 .image {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.85)), url(/image6.png);
  background-position: center !important;
}

.footer {
  text-align: center;
  background-color: gainsboro;
  padding: 60px 0;
}
.footer p {
  max-width: 60%;
  margin: auto;
}
@media screen and (max-width: 992px) {
  .footer p {
    max-width: 85%;
  }
}

.to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #f5f5f5;
  border-radius: 50%;
  padding: 10px;
  filter: drop-shadow(1px 1px 10px #000);
}

.menu {
  position: fixed;
  bottom: 30px;
  background-color: #f5f5f5;
  left: 20px;
  height: 40px;
  width: 70px;
  border-radius: 30px;
  filter: drop-shadow(2px 2px 3px #000000);
  z-index: 5;
}
@media screen and (min-width: 992px) {
  .menu {
    display: none !important;
  }
}
.menu .menuButton {
  padding: 8px;
  overflow: hidden;
}
.menu .menuButton .hamburguer {
  height: 3px;
  width: 25px;
  margin-top: 30px;
  background-color: #000000;
  margin: 4px auto;
  transform: rotate(0deg);
  transition: 1s;
}
.menu .menuButton .hamburguer.open {
  transition: 1s;
}
.menu .menuButton .hamburguer.open:first-child {
  transform: rotate(45deg);
  transition: 1s;
  margin-top: 10px;
}
.menu .menuButton .hamburguer.open:nth-child(2) {
  transform: translateX(100px);
  transition: 0.4s;
}
.menu .menuButton .hamburguer.open:nth-child(3) {
  transform: rotate(-45deg);
  transition: 1s;
  margin-top: -13px;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 3;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  transition: 1s;
  z-index: 10;
}
@media screen and (min-width: 992px) {
  .overlay {
    display: none !important;
  }
}
.overlay.open {
  display: block;
}
.overlay .menuOptions {
  position: fixed;
  text-align: center;
  width: 100%;
  height: 80%;
}
.overlay .menuOptions .sectionsList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  justify-content: space-between;
  margin: 20px;
  padding: 0;
}
.overlay .menuOptions .sectionsList .section {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 52px;
}
@media screen and (max-width: 992px) {
  .overlay .menuOptions .sectionsList .section {
    font-size: 26px;
  }
}
.overlay .menuOptions .sectionsList .section a {
  color: #fafafa;
  text-decoration: none;
}

img.infografico {
  max-width: 100%;
}
@media screen and (min-width: 992px) {
  img.infografico.d-none {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  img.infografico.m-none {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
